name: CI
on:
  pull_request:
    types: [opened, synchronize, reopened, "pagination-sorting-swagger"]
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven
      - name: Build & Test
        run: mvn -B -ntp clean verify
